body{
    background-image: url('./images/cat2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    text-align: center;
}

#root{
   align-items: center;
}
.keys .playing{
    margin-right: 20px;
    border:5px solid orange;
    padding:7px 20px;
    text-align:center;
    margin-top: 200px;
}
.keys{
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.keys .key{
    margin-right: 20px;
    border:5px solid black;
    padding:4px 15px;
    text-align:center;
    margin-top: 200px;
}
p{
    font-weight: bolder;font-size:25px;
    margin-bottom:5px;
    margin-top: 8px;
}

.keys .key span{
    color:orange;
}

@media only screen and (max-width: 600px){
    p{
        font-size: 13px;
        margin-bottom:2px;
        margin-top: 4px;
    }
    .keys .playing{
        margin-right: 10px;
        border:3px solid orange;
        padding:3px 8px;
        text-align:center; 
    }
    
    .keys .key{
        margin-right: 10px;
        border:5px solid black;
        padding:4px 5px;
        text-align:center;
    }
    span{
        font-size:14px;
    }
}